h1 {
  font-size: 18px;
  border: 1px solid var(--ion-color-primary);
  padding: 5px;
  border-radius: 5px;
  color: var(--ion-color-primary);
}

.offer-item {
  font-size: 14px;
  color: var(--ion-color-medium);

  .offer-details {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  span {
    display: flex;
    gap: 5px;
    // font-size: 13px;
  }
}
